name: mingl_app
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  google_sign_in: ^7.2.0
  http: ^1.1.0
  get_it: ^9.2.0
  flutter_dotenv: ^6.0.0
  flutter_secure_storage: ^10.0.0
  jwt_decoder: ^2.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - .env
